.container {
    display: flex;
   justify-content: center;
  }
  .header-div{
    text-align: center;
  }
  .course-container {
    
    background-color: rgb(242, 237, 166);
   
  }
  
  .course-container::-webkit-scrollbar {
    display: none; 
  }
  
  
  .course-container {
    scrollbar-width: none;
  }
  

  .flex-nowrap {
    flex-wrap: nowrap;
  }
  

  .w-100 {
    width: 100%!important;
  }
  
  .container {
    display: flex;
    position: relative;
    justify-content: center;
  }
  
  .cards {
    width: calc(100% - 80px);
    overflow: hidden;
  }
  
  .overflow {
    position: relative;
    transition: left 0.5s ease-in-out;
  }
  
  .card {
    
    background-color: #e0e1e2;
    border-radius: 5px;
    display: inline-block;
    margin-right: 10px;
    position: relative;
  }
  
  .no-right-margin {
    margin-right: 0px;
  }
  
  .card span {
    font-size:48px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .left,
  .right {
    height: 30px;
    width: 30px;
    background-color: #0072bc;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .left.disabled, .right.disabled {
    background-color:#CCC;
  }
  
  .left {
    left: 0;
  }
  
  .right {
    right: 0;
  }
  
  .bgBlue{
    background-color: rgb(42, 2, 42);
    color: white;
    button{background-color: white !important;
        color: black;
        border-radius: 20px;
    }
  }
  .bgGrey{
    background-color: #d7d2ac;
    color: black;
    button{background-color: black !important;
        color: white;
        border-radius: 20px;
    }
  }
  .text-align-end {
    text-align: end;
}