<div class="card-container">
    <div class="row p-0 m-0 ">
        <div class="col-lg-8 col-md-12 text-align-center description">
            <div>
                <p class="title">SKILL DEVELOPMENT POWERED BY AI DRIVEN METRICS</p>
                <h2 class="font-weight-700 mt-4">Get in touch with the N Global Team</h2>
                <p class="mt-4">Supercharge your career evolution by evaluating your abilities, rapidly upskilling, and gauging your advancement against personalized benchmarks in a streamlined and dynamic fashion. Unlock your full potential with precision and flair!</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 mt-3">
            <p class="text-align-center ">Got any questions? Contact us</p>
            <form>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label m-0">NAME</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label m-0">E-MAIL</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="email">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label m-0">PHONE NUMBER</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="phone number">
                </div>
                <div class="mb-3">
                    <label for="member" class="m-0 form-label">MEMBER TYPE</label>
                    <select class="form-select" aria-label="Default select example">
                        <option value="individua" selected>Individual</option>
                        <option value="corporate">Corporate</option>
                     </select>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label m-0">QUERY</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="type your query here" rows="3"></textarea>
                </div>
                <div>
                    <button class="btn btn-dark">SUBMIT</button>
                </div>
            </form>
        </div>
    </div>
</div>