<div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
    <div class="carousel-inner">
      <div class="carousel-item active carousel-height">
        <img class="image" [src]="events[2].img" class="d-block w-100" alt="image">
        <div class="position-absolute">
            <h3>{{ events[2].title }}</h3>
            <p>{{ events[2].description }}</p>
            <button class="btn btn-primary mx-2">Know more</button>
            <button class="btn btn-primary">Register</button>
        </div>
      </div>
      <div class="carousel-item carousel-height">
        <img class="image" [src]="events[0].img" class="d-block w-100" alt="image">
        <div class="position-absolute">
            <h3>{{ events[0].title }}</h3>
            <p>{{ events[0].description }}</p>
            <button class="btn btn-primary mx-2">Know more</button>
            <button class="btn btn-primary">Register</button>
        </div>
      </div>
      <div class="carousel-item carousel-height">
        <img class="image" [src]="events[1].img" class="d-block w-100" alt="image">
        <div class="position-absolute">
            <h3>{{ events[1].title }}</h3>
            <p>{{ events[1].description }}</p>
            <button class="btn btn-primary mx-2">Know more</button>
            <button class="btn btn-primary">Register</button>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>